@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
body {
    background-color: #B5EAEA;
    font-family: 'Prompt', sans-serif;
    background-color: #333;

}

header {
    margin-bottom: 90px;
    margin-top: 70px;
    text-align: center;
}
header h1 {
    text-align: center;
    font-size: 50px;
    color: #C490E4;
}

img {
    width: 100%;

   padding: 10px;
   border-radius: 10px;
}
@media only screen and (max-width: 800px) {
    img {
    
       padding: 10px;
       border-radius: 10px;
    }
}

.image {
    border: 13px dashed #C490E4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    border-radius: 5px;
}
@media only screen and (max-width: 800px) {
    .image {
        width: 80% ;
    
    }
}
.buttons {
    text-align: center;
 
   
}

.buttons button {
    background-color: #C490E4;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    padding: 7px 32px;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}



* { 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
  }
  

  
  .load {
    display:flex;
    justify-content: center;
    margin: 50px auto;
  }
  
  .load div {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 5px;
    animation-name: up-and-down;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .load .two {
    animation-delay: 0.3s;
  }
  .load .three {
    animation-delay: 0.6s;
  
  }
  @keyframes up-and-down {
    to {
      opacity: 0.2;
      transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
  }
    
  }


  footer {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

 .badge  {
	background-color: #949CDF;
	border-radius: 30px;
	padding: 5px 15px;
	color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.active {
  background-color: #333;
	border-radius: 30px;
  border: 1px #555 solid;
  text-decoration: none;
	padding: 5px 15px;
	color: white;
  text-align: center;
  cursor: not-allowed;
  display: inline-block;
  margin-bottom: 10px;
}
footer .links {
	padding-top: 30px;

}
footer .links a {
		color: #4E6166;
		padding-left: 10px;
		padding-right: 10px;
}
footer p {
	padding-top: 20px;
	color: #A6A6A6;
}

footer .social-links {
	padding-top: 30px;
}

footer .social-links i {
	padding: 10px;
	font-size: 25px;
	color: #B5EAEA;
	text-decoration: none;
	transition: 0.3s;
}
footer .social-links i:hover {
	color: #949CDF;
}
